<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Hyperbowl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <!-- Search Bar & Dark Theme Toggle -->
      <% if(authorized){ %>
        <li class="nav-item navbar-element dark-theme-toggle-nav-item">
          <div class="dark-theme-toggle-holder off">
            <div class="dark-theme-toggle"></div>
          </div>
        </li>
        <li class="nav-item navbar-element post-search-bar-div">
          <div>
            <input class="form-control post-search-bar" type="text" placeholder="Search" aria-label="Search">
          </div>
          <div class="post-search-bar-suggestions"></div>
        </li>
      <% } %>
      <% if(!authorized){ %>
      <div class="nav-item navbar-element nav-sign-in-button">
        <a class="nav-link register-btn list-group-flush" href="/register">Register</a>
      </div>
      <li class="nav-item navbar-element nav-sign-in-button">
        <a class="nav-link login-btn list-group-flush" href="/login">Login</a>
      </li>
      <% } else { %>
      <li class="nav-item dropdown navbar-user-dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if(currentUser.profileImage){ %>
          <img class="navbar-user-img margin-right" src="<%= currentUser.profileImage %>" alt="Profile image">
          <% } else { %>
          <img class="navbar-user-img margin-right" src="https://picsum.photos/400/" alt="Profile image">
          <% } %>
          <%= currentUser.username %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item navbar-dropdown-item" href="/create">Create Post</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item navbar-dropdown-item" href="/users/<%= currentUser._id %>">Profile</a>
          <a class="dropdown-item navbar-dropdown-item" href="/settings">Settings</a>
          <a class="dropdown-item navbar-dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      <% } %>
      <li>
        <div class="header-sidebar-links">
          <%- include('sidebar-content'); -%>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-filler"></div>
<div class="website-body-content">
  <% if(authorized){ %>
    <div class="sidebar-adaptation-md">
      <%- include('sidebar-content'); %>
    </div>
  <% } %>
  <noscript>
    <div class="alert-banner">
      <strong class="banner-btn-text">JavaScript is needed to run some parts of Hyperbowl. To use our website, please enable JavaScript in your browser settings.</strong>
    </div>
  </noscript>
