<%- include('partials/metadata') -%> <%- include('partials/header') -%> <% if(authorized){ %> <%- include('partials/sidebar') %> <% } %>

<div class="main">
	<% if(authorized){ %> <% if(!currentUser.preferences.styles.dashboardBackgroundImage == ("" || " " || undefined || null)) { %>
	<div class="user-header" style="background-image: url(<%=currentUser.preferences.styles.dashboardBackgroundImage%>);">
		<% } else { %>
		<div class="user-header">
			<% } %>
			<div class="user-header-text-div">
				<div class="user-header-txt">
					<h1 class="user-header-txt-node">Welcome, <%= currentUser.username %></h1>
					<p class="user-header-txt-node">Check out your recommended posts:</p>
				</div>
			</div>
		</div>
		<div class="alert-banner">
			<strong class="banner-btn-txt">
				<script src="/js/welcomebanner.js" charset="utf-8"></script>
			</strong>
		</div>
		<% } else { %>
		<div class="newuser-header">
			<div class="newuser-header-text-div">
				<div class="newuser-header-txt">
					<h1>Read and Write Creative Stories and Unique Posts</h1>
					<p>Get Started With Hyperbowl Now</p>
					<a href="/register" class="btn primary-btn">Create an Account</a>
					<a href="/login" class="btn secondary-btn">Login</a>
				</div>
			</div>
		</div>
		<div class="alert-banner">
			<strong class="banner-btn-txt">Create an account on Hyperbowl to unlock the abilities to comment, create posts, and more.</strong>
			<a href="/register" class="btn secondary-btn">Create an Account</a>
		</div>
		<% } %>
		<p class="article-row-header">Recommended Articles:</p>
		<div class="row post-thumbnail-section">
			<div class="col-lg-3 col-md-6">
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins
					class="adsbygoogle"
					style="display: block; text-align: center;"
					data-ad-layout="in-article"
					data-ad-format="fluid"
					data-ad-client="ca-pub-8234960759619801"
					data-ad-slot="9219330305"
				></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<% for(let i = posts.length - 1; i > posts.length - (posts.length + 1); i--){ %>
			<div class="col-lg-3 col-md-6">
				<div class="card post-thumbnail" id="<%= posts[i]._id %>">
					<a href="/posts/<%= posts[i].id %>" class="article-link-button">
						<div class="card-img-container">
							<% if(!posts[i].image){ %>
							<img src="https://picsum.photos/600/" class="card-img-top" alt="Cover photo" onError="this.src = 'https://picsum.photos/800/'" />
							<% } else { %>
							<img src="<%= posts[i].image %>" class="card-img-top" alt="Cover photo" onError="this.src = 'https://picsum.photos/800/'" />
							<% } %>
						</div>
					</a>
					<hr class="nomargin-line" />
					<div class="card-body">
						<h5 class="card-title"><%= posts[i].title %></h5>
						<p class="card-text">
							Posted By: <a href="/users/<%= posts[i].author %>"><%= posts[i].authorUsername %></a> <% if(posts[i].datePublished){ %> | <%= posts[i].datePublished %> <% } %> |
							<span class="bordered-txt"><i class="far fa-thumbs-up"></i> <%= posts[i].numberOfLikes %></span>
							<span class="bordered-txt"><i class="far fa-eye"></i> <%= posts[i].numberOfViews %></span>
						</p>
						<span id="postPreview<%= i %>" style="display: none;"><%- posts[i].sections[0] %></span>
						<script type="text/javascript">
							var content = document.getElementById('postPreview<%= i %>');
							var textContent = content.textContent;
							var preview = textContent.substring(0, 120);
							content.style.display = 'inline';
							content.innerHTML = preview + '...';
						</script>
						<a href="/posts/<%= posts[i].id %>" class="btn article-link-button margin-top">Visit Article</a>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>

	<%- include('partials/footer') -%>
</div>
